/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
}

.navbar {
    overflow: hidden;
    background-color: #4d707996;
    border-bottom: 2px solid #ccc;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
}

#navbar-container {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

a {
    color: #4d70b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/**************/
/* body {
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #4d707996;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
} */
